.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(https://wallpaperaccess.com/full/7270362.gif);
  
}


.todoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(8, 8, 8);
  padding: 10px;
  margin-bottom: 10px;
  height: 10px;
  width: 400px;
  border-radius: 10px;
  background-color: white;

}

.todoItem p {
  flex-grow: 1;
  text-align: left;
}

h1{
  display: flex;
  justify-content: center;
  animation: change-color 3s infinite;
}

@keyframes change-color {
  0% { color: red; }
  33% { color: green; }
  66% { color: blue; }
  100% { color: green; }
}

.submitButton{
  margin-left: 15px;
  background-color:#4096ff;
}

.input{
  width:350px;
  right:20px;
}

.todoGroup {
  max-height: calc(8 * 50px); 
  overflow-y: auto;
  direction: ltr; 
}


nav{
  position:fixed;
  top: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color:#4096ff;
  height: 20px;
  border-radius: 20px;
}

nav ul {
  display: flex;
  padding: 0;
}
nav ul li {
  margin: 0 10px;
}

.menu{
  border-radius: 20px;
}

.todoDone{
  background-color: rgba(236, 219, 203, 0.452);
  width: 200px;
  border-radius: 20px;
}

.todoDone p{
  justify-content: center;
  display: flex;
}